server:
  port: 9999
spring:
  datasource:
    # MySql 8.0以上版本
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 兼容以前的配置
    jdbc-url: jdbc:mysql://localhost:3306/mcp?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&zeroDateTimeBehavior=convertToNull&useTimezone=true&serverTimezone=GMT%2B8&allowMultiQueries=true
    url: ${spring.datasource.jdbc-url}
    username: root
    password: shark1996
  application:
    name: HcsbAIHost

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: qwen3:8b
    # MCP 服务
    mcp:
      server:
        name: mcp-server
      sse-message-endpoint: /mcp/test

#=====================================  log  =============================
logging:
  config: classpath:logback-project.xml
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl